.backgroundImage {
    background-image: url('https://6amcity.brightspotcdn.com/dims4/default/fcd95ee/2147483647/strip/true/crop/1920x1081+0+2/resize/1000x563!/quality/90/?url=https%3A%2F%2Fk1-prod-sixam-city.s3.us-east-2.amazonaws.com%2Fbrightspot%2F27%2F72%2Fe63b3f2ac7e3dc33dc9c07813a21%2Fepicgamesnode-home-battleroyale-bg-1920x1085-f8259c7b864b733c175b31934ebc30ef17aff602.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  